$test: #333;
$font-jp: yakuhanjp, 'Noto Sans JP', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
$font-default-gothic: 'Noto Sans JP', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
$font-default-serif: 'YuMincho', '游明朝体', 'Yu Mincho', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E',
  'ＭＳ Ｐ明朝', 'MS PMincho', 'ＭＳ 明朝', serif;
$font-en: 'Italiana', serif;
$font-en-serif: 'EB Garanmond', serif;
$font-default-en: 'Inter', serif;
$font-mix: 'Italiana', yakuhanjp, 'Noto Sans JP', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
